<div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/list" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/create" routerLinkActive="active">Create Product</a>
        </li>
    </ul>
    
</div>

<div class="container">
    <h1 class="text-center m-5">Store</h1>

    <router-outlet></router-outlet>
    <!-- <app-create-product></app-create-product>
    <app-product-list></app-product-list> -->
</div>