* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ccc;
    padding: 10px;
    height: 1000px;

    display: flex;

    /* Flex directions*/
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* Justification of items - Main Axis*/ 
    justify-content: center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */

    /* Align items - Cross Axis*/
    /* align-items: stretch; */ 
    align-items: center;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: baseline; */

    /* Flex wrap*/
    flex-wrap: wrap;

    /* Align Content - aligns rows*/
    align-content: flex-start;
}

.item {
    background-color: #f1425d;
    padding: 40px;
    margin: 30px;
    color: #fff;
    font-size: 40px;

    /* flex-grow: 1; */
    /* flex-grow: 10; */
    /* flex: 1; */
}

.i2 {
    height: 300px;
    /* flex-grow: 2; */
    /* flex-basis: 20%; */
    /* flex-basis: 300px; */ 
    /* flex-shrink: 0; /* not allowed to shrink */ 
    flex: 0 0 300px
}

.i3 {
    order: 1;
    flex: 3;
}

.i4 {
    font-size: 70px;
    /* align-self: flex-start; */
    /* align-self: flex-end; */
    align-self: stretch;
    order: -1;
}