html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(178,125,223);
  background: linear-gradient(86deg, rgba(178,125,223,1) 0%, rgba(218,174,244,1) 48%, rgba(233,212,244,1) 100%);
}

.header {
  background-color: #333;
  color: white;
  padding: 2rem;
  text-align: center;

  display: flex;
}

.header__right {
  flex: 1;
}

.header__logo {
  flex: 1;
}

.header__icon {
  height: 5.2rem;
  margin-left: 3.2rem;
  float: left;
}

.header__title {
  margin: 0;
  align-self: center;
  font-size: 2.8rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5rem auto;
  max-width: 160rem;
}

.destination {
  background-color: white;
  box-shadow: 0rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem;
  width: 40rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.5s ease-out;
}

.destination:hover {
  transform: translate(-10px, -10px);
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.destination__image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  margin-bottom: 1rem;
  flex: 1;
}

.destination__title {
  margin-top: 1.6rem;
  font-size: 2.4rem;
}

.destination__description {
  margin-top: 1.6rem;
  font-size: 1.6rem;
}

.destination__price {
  font-size: 2rem;
  color: purple;
}

.destination__button {
  margin-top: 1.6rem;
  background-color: #333;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.destination__button:hover {
  background-color: #666;
}

.footer {
  background-color: #2f2f2f;
  color: #fff;
  display: flex;
  align-items: flex-start;
  padding: 2rem;
}

.footer__info {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer__follow {
  flex: 1;
}

.footer__info__text {
  margin: 0;
  margin-top: 0.8rem;
  font-size: 1.4rem;
}

.follow__icons {
  display: flex;
}

.icon-link {
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
  border-radius: 50%;
  color: #fff;
  background-color: #666;
  transition: all 0.3s ease;
}

.icon-link:hover {
  transform: translateY(-5px);
  box-shadow: 0rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}

.follow__icon-img{
  width: 100%;
}

.footer h2 {
  font-size: 1.9rem;
}











  